# vi: ft=gitignore

/bootstrap.py
/mozilla-unified
/pdf.js

# General
**/bin/**
**/obj/**
dist
build
*.o
*.swp
*.pid
*~
~$*
*.core
*.orig
*.rej

# Python
.pytest-cache
*.pyc
__pycache__
venv

# macOS
Music Library.musiclibrary
Media.localized
.localized
.DS_Store
_DS_Store
*.dSYM

# Mozilla
.web-extension-id
web-ext-artifacts
